TOKEN_FILE_PATH=./token.txt
HIS_QUEUE_NAME=srm-his
HIS_JOB_NAME=add-srm-token
WORKER_QUEUE_NAME=srm-go
WORKER_JOB_NAME=request-token
REDIS_ADDR=127.0.0.1:6379
REDIS_USER=default
REDIS_PASSWORD=
REDIS_DB=0
PORT=8080
AUTH_BASE_URL=https://api-meditech-dev.dudee-indeed.com

ALLOW_ORIGINS=www.web1.com,www.web2.com